/** Global Colors **/
$viejooeste-color01: #e69000;
$viejooeste-color02: white;
$viejooeste-color03: #c1c0bd;
$viejooeste-color04: #7ac143;
$viejooeste-color05: #62b621;
$viejooeste-color06: #e5dfd1;
$viejooeste-color07: #5c5c5c;
$viejooeste-color08: #e5e5e5;
$viejooeste-color09: #f0ede7;
$viejooeste-color10: #c6c4c7;
$viejooeste-color11: #e6e6e6;
$viejooeste-color12: #757575;
$viejooeste-color13: black;
$viejooeste-color14: #00A9EA;
$viejooeste-color15: #da4453;

/** Gallery Section **/
$viejooeste-gallery-bgclor: $viejooeste-color06;

$viejooeste-font-family-01: "Gotham Rounded Bold",Helvetica Neue, Helvetica, sans-serif;
$viejooeste-font-family-02: "PT Sans Narrow",Helvetica Neue, Helvetica, sans-serif;
$viejooeste-font-family-03: "OpenSans Condensed",Helvetica Neue, Helvetica, sans-serif;
$viejooeste-font-family-04: "OpenSans Light",Helvetica Neue, Helvetica, sans-serif;
$viejooeste-font-family-05: "Proxima Nova",Helvetica Neue, Helvetica, sans-serif;
$viejooeste-font-family-06: "Proxima Nova 100",Helvetica Neue, Helvetica, sans-serif;
$viejooeste-font-family-07: "Museo Sans 100",Helvetica Neue, Helvetica, sans-serif;
$viejooeste-font-family-08: "Museo Sans 300",Helvetica Neue, Helvetica, sans-serif;
$viejooeste-font-family-09: "Rio Oro",Helvetica Neue, Helvetica, sans-serif;
