@font-face {
  font-family: "Museo Sans 100";
  src: url("fonts/MuseoSans-100.otf");
}
@font-face {
  font-family: "Museo Sans 300";
  src: url("fonts/MuseoSans-300.otf");
}
@font-face {
  font-family: "OpenSans Light";
  src: url("fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "OpenSans Regular";
  src: url("fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans Bold";
  src: url("fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/Proxima Nova Regular.otf");
}
@font-face {
  font-family: "Proxima Nova 100";
  src: url("fonts/ProximaNovaAltThin.otf");
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url("fonts/Proxima Nova Bold.otf");
}
@font-face {
  font-family: "Gotham Rounded Bold";
  font-style: normal;
  src:
    url('fonts/GothamRoundedBold.eot');
  src:
    url('fonts/GothamRoundedBold.ttf') format('truetype'),
    url('fonts/GothamRoundedBold.otf') format('opentype'),
    url('fonts/GothamRoundedBold.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: normal;
  src:
    url('fonts/PTSansNarrowRegular.ttf') format('truetype'),
    url('fonts/PTSansNarrowBold.ttf') format('truetype');
}