@import ".core";
@import ".font";

//*
//|-----------------------------------------------------------
//| Form Style
//|-----------------------------------------------------------
//*/
input {
  line-height: 1.3;
  margin: 0;
  font-size: 16px;
  white-space: nowrap;
  cursor: text;
  color: #a9b3bb;
  z-index: 5;
  border: 1px solid #c6c4c7;
  background: #e8ebed;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  font: {
    family: $viejooeste-font-family-02;
  }
  transition: all 1s;

}

input:disabled, button:disabled, input[readonly="readonly"] {
  line-height: 1.3;
  margin: 0;
  font-size: 14px;
  white-space: nowrap;
  cursor: text;
  color: #a9b3bb;
  z-index: 5;
  border: 2px solid #e1e4e5;
  background: #e5e7e8;
  padding: 10px;
  width: 100px;
  border-radius: 6px;
  transition: all 1s;
}

input[type="submit"], button {
  margin-top: 10px;
  border: none;
  font-size: 16px;
  padding: 14px 24px;
  z-index: 1;
  border-radius: 10px;
  color: #fff;
  width: 100px;
  -webkit-appearance: none;
}

input[type="radio"] {
  width: 40px;
  background-color: transparent;
}

select {
  line-height: 1.3;
  margin: 0;
  font-size: 14px;
  white-space: nowrap;
  cursor: text;
  color: #a9b3bb;
  z-index: 5;
  border: 2px solid #e8ebed;
  background: #e8ebed;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  transition: all 1s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select option {
  padding-left: 12px;
}

textarea {
  line-height: 1.3;
  margin: 0;
  font-size: 16px;
  white-space: nowrap;
  cursor: text;
  color: #a9b3bb;
  z-index: 5;
  overflow: hidden;
  border: 2px solid #e8ebed;
  background: #e8ebed;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  transition: all 1s;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus {
  background: #fff;
  border-color: #d4d9dd;
}

input[type="checkbox"] {
  width: 5%;
  color: #004444;
  vertical-align: middle;
}

input[type=radio] {
  display: none;
}

input[type="radio"] + label {
  width: 80px;
  display: inline-block;
  margin: -2px;
  padding: 8px 16px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #f5f5f5 linear-gradient(to bottom, #fff, #e6e6e6) repeat-x;
  border: 1px solid #ccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

input[type="radio"]:checked + label {
  outline: 0;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
  background: #E8EBED none;
}

//*
//|-----------------------------------------------------------
//| Grid - Col
//|-----------------------------------------------------------
//*/
.grid-100, .grid-90, .grid-80, .grid-70, .grid-60
.grid-50, .grid-40, .grid-30, .grid-20, .grid-10 {
  margin-bottom: 30px;
}

.grid-100 {
  width: 100%;
}

.grid-90 {
  width: 90%;
}

.grid-80 {
  width: 80%;
}

.grid-70 {
  width: 70%;
}

.grid-60 {
  width: 60%;
}

.grid-50 {
  width: 50%;
}

.grid-40 {
  width: 40%;
}

.grid-30 {
  width: 30%;
}

.grid-20 {
  width: 20%;
}

.grid-10 {
  width: 10%;
}

.col-100, .col-90, .col-80, .col-70, .col-60
.col-50, .col-40, .col-30, .col-20, .col-10 {
  margin: 0px;
  padding: 0px;
}

.col-100 {
  width: 100%;
}

.col-90 {
  width: 90%;
}

.col-80 {
  width: 80%;
}

.col-75 {
  width: 75%;
}

.col-70 {
  width: 70%;
}

.col-60 {
  width: 60%;
}

.col-55 {
  width: 55%;
}

.col-50 {
  width: 50%;
}

.col-45 {
  width: 40%;
}

.col-40 {
  width: 40%;
}

.col-30 {
  width: 30%;
}

.col-25 {
  width: 25%;
}

.col-20 {
  width: 20%;
}

.col-15 {
  width: 15%;
}

.col-10 {
  width: 10%;
}

.col-05 {
  width: 5%;
}

.col-00 {
  width: 0%;
  display: none;
}

.gutter-15 {
  padding: 15px;
}

.gutter-10 {
  padding: 10px;
}

.gutter-5 {
  padding: 5px;
}

.right {
  float: right;
  margin-left: 10px;
}

.left {
  float: left;
  margin-left: 10px;
}

//*
//|-----------------------------------------------------------
//| Titles
//|-----------------------------------------------------------
//*/
.cabin-main-title {
  margin: 0px;
  padding: 20px 0px;
  text-align: left;
  width: 100%;
  color: #928a7c;
  font: {
    size: 1.2em;
  }
;
}

.cabin-search-title {
  margin: 0px;
  padding: 20px 0px;
  text-align: left;
  width: 100%;
  color: #928a7c;
  font: {
    family: $viejooeste-font-family-01;
    size: 1.8em;
  }
;
}

//*
//|-----------------------------------------------------------
//| Display Horizontal
//|-----------------------------------------------------------
//*/
.display-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-flow: row wrap;
  list-style: none;
  > li {
    list-style: none;
    flex: auto;
    float: left;
  }
}

//*
//|-----------------------------------------------------------
//| Display Vertical
//|-----------------------------------------------------------
//*/
.display-vertical {
  display: block;
  li {
    display: block;
  }
}

.viejooeste-landing-cabin {
  margin: 130px auto 0px auto;
  font: {
    size: 16px;
  }
  height: 100%;
}

.viejooeste-cabin-form {
  background-color: rgba($viejooeste-color02, .55);
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba($viejooeste-color13, .3);
  padding: 15px 0px;
  > .form-container {
    width: 80%;
    margin: 30px auto;
  }
}

.viejooeste-cabin-result {
  background-color: rgba($viejooeste-color02, .3);
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba($viejooeste-color13, .3);
  padding: 15px 0px;
  height: 500px;
  position: relative;
  .cabin-container {
    margin: 10px;
    height: 90%;
    width: 97%;
    overflow-x: scroll;
    position: absolute;

  }
}

//*
//|-----------------------------------------------------------
//| Combo Box
//|-----------------------------------------------------------
//*/
.combo-box {
  button {
    padding: 14px;
    width: 35px;
    margin: inherit;
    background-color: #cccccc;
    position: relative;
    z-index: 1;
    color: #88785c;
    &.right {
      border-radius: 0px 10px 10px 0px;
      margin-right: 5px;
      z-index: 2;
    }
    &.left {
      border-radius: 10px 0px 0px 10px;
      margin-left: 5px;
      z-index: 2;
    }
  }
  input {
    position: relative;
    text-align: center;
    z-index: 1;
  }
}

//*
//|-----------------------------------------------------------
//| Cabin Styles
//|-----------------------------------------------------------
//*/
.slider-cabin {
  background-color: #e5dbcf;
  height: 100%;
  box-shadow: 4px -1px 10px rgba(0, 0, 0, 0.1) inset;
  overflow-y: scroll;
  .slider-container {
    nav {
      ul {
        li {
          height: 75px;
          .cabin-detail {
            padding: 0px 20px;
            ul.cabin {
              border-bottom: 2px dotted #d4c8b2;
              color: #3e3e34;
              .number {
                line-height: 75px;

                position: relative;
                > em {
                  position: absolute;
                  top: -20px;
                  left: 18px;
                  font: {
                    size: 0.8em;

                  }
                }
                > div {
                  position: relative;
                  top: 10px;
                  font: {
                    size: 1.5em;
                  }
                  color: #4D3917;
                }
              }
              > .imagen {
                > img {
                  width: 75px;
                }
              }
              .name {
                line-height: 75px;
                font: {
                  size: 0.9em;
                  weight: 200;
                }
                text-align: center;
                padding-left: 20px;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
            }
          }
          &.active {
            > a {
              > .cabin-detail {
                > ul.cabin {
                  border-bottom: 2px dotted $viejooeste-color01;
                  > .number {
                    > div {
                      font: {
                        size: 3em;
                        family: $viejooeste-font-family-05;
                      }
                      color: #cea300;
                      transition: all 1s;
                      transform: rotate(15deg);
                      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                    }
                  }
                }
              }
            }
          }
          &:hover {
            > a {
              > .cabin-detail {
                > ul.cabin {
                }
              }
            }
          }
        }
      }
    }
  }
}

.cabin-detail {
  position: relative;
  > .cabin-campaign {
    width: 65%;
    margin: 0px auto;
    > h2 {
      font: {
        size: 3em;
        family: $viejooeste-font-family-09;
      }
      margin-bottom: 20px;
      color: #4d3917;
    }
    > .promos {
      > .promo {
        > img {
          max-width: 100%;
        }
      }
    }
    > p {
      margin-top: 20px;
      padding: 10px 0px;
      font: {
        size: 0.9em;
      }
    }
    > div.button {
      margin: 10px auto;
      border-radius: 10px;
      background: $viejooeste-color15;
      padding: 10px 8px;
      width: 250px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      color: $viejooeste-color02;
    }
    > div.divider {
      margin: 20px 0px 20px 0px;
      border-bottom: 2px dotted #d4c8b2;
    }
  }
  > .zona-humeda {
    width: 90%;
    margin: 0px auto;
    > h2 {
      font: {
        size: 3em;
        family: $viejooeste-font-family-09;
      }
      margin-bottom: 20px;
      color: #4d3917;
    }
    > p {
      margin-top: 10px;
      padding: 10px 0px;
      font: {
        size: 0.9em;
      }
    }
    > ul.pools {
      list-style: none;
      li {
        list-style: none;
        strong {
          color: $viejooeste-color01;
        }
      }
    }
  }
  > .title {
    margin: 15px auto;
    text-align: center;
    color: #4d3917;
    padding: 20px;
    width: 50%;
    border-top: 2px dotted #d4c8b2;
    border-bottom: 2px dotted #d4c8b2;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font: {
      size: 3.5em;
      family: $viejooeste-font-family-09;
    }
  }
  > .description {
    width: 70%;
    margin: 10px auto;
    padding: 20px 0px;
    border-bottom: 2px dotted #d4c8b2;
    > p {
      padding: 10px 0px;
      font: {
        size: 1.1em;
      }
    }
  }
  > .slider {
    width: 50%;
    margin: 20px auto;
    z-index: 999;
    overflow-x: scroll;
    ul {
      display: table;
      table-layout: fixed;
      width: 100%;
      li {
        width: 200px;
        display: table-cell;
        position: relative;
        a {
          &:hover {
            span {
              display: block;
            }
          }
          img {
            border-radius: 5px;
          }
          span {
            transition: all 1s ease;
            display: none;
            position: absolute;
            z-index: 2;
            color: white;
            text-align: center;
            top: 60px;
            width: 100%;
          }
        }
      }
    }
  }
  > .capacity {
    margin: 10px auto;
    width: 60%;
    font: {
      size: 2em;
    }
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    color: #4D3917;
    text-align: center;
  }
  > .rate {
    margin: 10px auto;
    width: 40%;
    font: {
      size: 1em;
      family: $viejooeste-font-family-06;
    }
    text-align: center;
    padding: 10px;
    ul {
      margin: 10px auto;
      li {
        text-align: center;
        padding: 6px 8px;
        span {
          font: {
            weight: bold;
          }
        }
        &:nth-child(2) {
          border-right: none;
        }
        &:last-child {
          padding-top: 10px;
          margin-top: 80px;
          border-top: 1px dotted #D4C8B2;
          border-right: none;
        }
        &.ls {
          background: $viejooeste-color14;
          border-radius: 3px;
          box-shadow: 1px 1px 3px rgba($viejooeste-color13, 0.5);
          color: #ffffff;
        }
        &.hs {
          background: $viejooeste-color04;
          border-radius: 3px;
          box-shadow: 1px 1px 3px rgba($viejooeste-color13, 0.5);
          color: #ffffff;
          position: relative;
          cursor: pointer;
        }
        &.campaign {
          margin-top: 20px;
        }
      }
    }
  }
  > .form {
    > a {
      background: linear-gradient(45deg, rgba(207,56,71,1) 0%, rgba(218,68,83,1) 53%, rgba(204,47,63,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf3847', endColorstr='#cc2f3f', GradientType=1 );
      padding: 15px 50px;
      border-radius: 10px;
      transition: background 250ms;
      font: {
        family: $viejooeste-font-family-06;
        size: 15px;
      }
      &:hover {
        background-color: $viejooeste-color15;
      }
    }
  }
  > footer {
    position: absolute;
    bottom: 10px;
    right: 30%;
    width: 100%;
  }
  > img {
    width: 450px;
    position: fixed;
    left: -50px;
    opacity: .7;
    z-index: -5;
    bottom: -25px;
  }
}

.cabin-splash {
  background: url(/img/slider/desktop/landing/slider01.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 980px) {

  .viejooeste-landing-cabin {
    margin: 130px auto 0px;
  }

  .viejooeste-container-slider {
    .viejooeste-baseline {
      .container-baseline {

      }
    }
  }

  .viejooeste-landing-cabin {
    > ul {
      > li {
        width: 100%;
        &:nth-child(1) {
          order: 2;
        }
        &:nth-child(2) {
          height: auto;
          order: 1;
          position: relative;
          .slider-container {
            width: 100%;
            overflow-x: scroll;
            nav {
              > ul {
                display: table;
                width: 100%;
                flex-direction: inherit;
                justify-content: inherit;
                flex-flow: inherit;
                > li {
                  width: 100%;
                  float: inherit;
                  flex: inherit;
                  display: table-cell;
                  vertical-align: middle;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }

  .cabin-detail {

    > .title {
      width: 90%;
      font: {
        size: 1.5em;
        weight: bold;
      }
    }
    > .description {
      > p {
        font: {
          size: 1em;
        }
      }
    }
    > .slider {
      width: 80%;
      ul {
        li {
          width: 265px;
          border-radius: 5px;
        }
      }
    }
    > .capacity {
      width: 90%;
    }
    > .rate {
      width: 90%;
    }
  }

  .slider-cabin {
    .slider-container {
      nav {
        ul {
          li {
            .cabin-detail {
              ul.cabin {
                width: 310px;
                height: 105px;
                .number {
                  line-height: 100px;
                }
                .imagen {
                  line-height: 100px;
                  > img {
                    width: 100px;
                  }
                }
                .name {
                  line-height: 100px;
                }
              }
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 800px) {

  .viejooeste-landing-cabin {
    margin: 130px auto 0px;
  }

  .viejooeste-container-slider {
    .viejooeste-baseline {
      .container-baseline {

      }
    }
  }

  .viejooeste-landing-cabin {
    > ul {
      > li {
        width: 100%;
        &:nth-child(1) {
          order: 2;
        }
        &:nth-child(2) {
          height: auto;
          order: 1;
          position: relative;
          .slider-container {
            width: 100%;
            overflow-x: scroll;
            nav {
              > ul {
                display: table;
                width: 100%;
                flex-direction: inherit;
                justify-content: inherit;
                flex-flow: inherit;
                > li {
                  width: 100%;
                  float: inherit;
                  flex: inherit;
                  display: table-cell;
                  vertical-align: middle;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }

  .cabin-detail {
    > .title {
      width: 90%;
      font: {
        size: 1.8em;
        weight: bold;
      }
    }
    > .description {
      > p {
        font: {
          size: 1em;
        }
      }
    }
    > .slider {
      width: 80%;
      ul {
        li {
          width: 265px;
          border-radius: 5px;
        }
      }
    }
    > .capacity {
      width: 90%;
    }
    > .rate {
      width: 90%;
    }
  }

  .slider-cabin {
    .slider-container {
      nav {
        ul {
          li {
            .cabin-detail {
              ul.cabin {
                width: 310px;
                height: 105px;
                .number {
                  line-height: 100px;
                }
                .imagen {
                  line-height: 100px;
                  > img {
                    width: 100px;
                  }
                }
                .name {
                  line-height: 100px;
                }
              }
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {

  .viejooeste-landing-cabin {
    margin: 130px auto 0px;
  }

  .viejooeste-landing-cabin {
    > ul {
      > li {
        width: 100%;
        &:nth-child(1) {
          order: 2;
        }
        &:nth-child(2) {
          height: auto;
          order: 1;
          position: relative;
          .slider-container {
            width: 100%;
            overflow-x: scroll;
            nav {
              > ul {
                display: table;
                width: 100%;
                flex-direction: inherit;
                justify-content: inherit;
                flex-flow: inherit;
                > li {
                  width: 100%;
                  float: inherit;
                  flex: inherit;
                  display: table-cell;
                  vertical-align: middle;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }

  .cabin-detail {

    > .title {
      width: 90%;
      font: {
        size: 2.5em;
        weight: bold;
      }
    }
    > .description {
      > p {
        font: {
          size: 1em;
        }
      }
    }
    > .slider {
      width: 80%;
      ul {
        li {
          width: 265px;
          border-radius: 5px;
        }
      }
    }
    > .capacity {
      width: 90%;
    }
    > .rate {
      width: 90%;
    }
  }

  .slider-cabin {
    .slider-container {
      nav {
        ul {
          li {
            .cabin-detail {
              ul.cabin {
                width: 310px;
                height: 105px;
                .number {
                  line-height: 100px;
                }
                .imagen {
                  line-height: 100px;
                  > img {
                    width: 100px;
                  }
                }
                .name {
                  line-height: 100px;
                }
              }
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 480px) {

  .viejooeste-landing-cabin {
    margin: 85px auto 0px;
  }

  .viejooeste-landing-cabin {
    > ul {
      > li {
        width: 100%;
        &:nth-child(1) {
          order: 2;
        }
        &:nth-child(2) {
          height: auto;
          order: 1;
          position: relative;
          .slider-container {
            width: 100%;
            overflow-x: scroll;
            nav {
              > ul {
                display: table;
                width: 100%;
                flex-direction: inherit;
                justify-content: inherit;
                flex-flow: inherit;
                > li {
                  width: 100%;
                  float: inherit;
                  flex: inherit;
                  display: table-cell;
                  vertical-align: middle;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }

  .cabin-detail {
    > .cabin-campaign {
      width: 70%;
      margin: 0px auto;
      > h2 {
        font: {
          size: 2em;
        }
        margin-bottom: 20px;
        color: #4d3917;
      }
      > .promos {
        > .promo {
          &:nth-child(1),&:nth-child(3),&:nth-child(5) {
            width: 100%;
          }
          &:nth-child(2),&:nth-child(4){
            display: none;
          }
          > img {
            max-width: 60%;
          }
        }
      }
    }
    > .zona-humeda {
      width: 90%;
      margin: 0px auto;
      > h2 {
        font: {
          size: 2em;
        }
        margin-bottom: 20px;
        color: #4d3917;
      }
      > ul {
        > li {
          width: 100%;
        }
      }
    }
    > .title {
      width: 90%;
      font: {
        size: 2.1em;
        weight: bold;
      }
    }
    > .description {
      > p {
        font: {
          size: 1em;
        }
      }
    }
    > .slider {
      width: 80%;
      ul {
        li {
          width: 265px;
          border-radius: 5px;
        }
      }
    }
    > .capacity {
      width: 90%;
    }
    > .rate {
      width: 100%;
    }
  }

  .slider-cabin {
    .slider-container {
      nav {
        ul {
          li {
            .cabin-detail {
              ul.cabin {
                width: 310px;
                height: 105px;
                .number {
                  line-height: 100px;
                }
                .imagen {
                  line-height: 100px;
                  > img {
                    width: 100px;
                  }
                }
                .name {
                  line-height: 100px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .cabin-detail {
    > .cabin-campaign {
      width: 70%;
      margin: 0px auto;
      > h2 {
        font: {
          size: 2em;
        }
        margin-bottom: 20px;
        color: #4d3917;
      }
      > .promos {
        > .promo {
          &:nth-child(1),&:nth-child(3),&:nth-child(5) {
            width: 100%;
          }
          &:nth-child(2),&:nth-child(4){
            display: none;
          }
          > img {
            max-width: 60%;
          }
        }
      }
    }
    > .zona-humeda {
      width: 90%;
      margin: 0px auto;
      > h2 {
        font: {
          size: 2em;
        }
        margin-bottom: 20px;
        color: #4d3917;
      }
      > ul {
        > li {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .cabin-detail {
    > .cabin-campaign {
      width: 70%;
      margin: 0px auto;
      > h2 {
        font: {
          size: 2em;
        }
        margin-bottom: 20px;
        color: #4d3917;
      }
      > .promos {
        > .promo {
          &:nth-child(1),&:nth-child(3),&:nth-child(5) {
            width: 100%;
          }
          &:nth-child(2),&:nth-child(4){
            display: none;
          }
          > img {
            max-width: 65%;
          }
        }
      }
    }
    > .zona-humeda {
      width: 90%;
      margin: 0px auto;
      > h2 {
        font: {
          size: 2em;
        }
        margin-bottom: 20px;
        color: #4d3917;
      }
      > ul {
        > li {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {

  .viejooeste-landing-cabin {
    margin: 85px auto 0px;
  }

  .viejooeste-container-slider {
    .viejooeste-baseline {
      .container-baseline {

      }
    }
  }

  .viejooeste-landing-cabin {
    > ul {
      > li {
        width: 100%;
        &:nth-child(1) {
          order: 2;
        }
        &:nth-child(2) {
          height: auto;
          order: 1;
          position: relative;
          .slider-container {
            width: 100%;
            overflow-x: scroll;
            nav {
              > ul {
                display: table;
                width: 100%;
                flex-direction: inherit;
                justify-content: inherit;
                flex-flow: inherit;
                > li {
                  width: 100%;
                  float: inherit;
                  flex: inherit;
                  display: table-cell;
                  vertical-align: middle;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }

  .cabin-detail {
    > .cabin-campaign {
      width: 70%;
      margin: 0px auto;
      > h2 {
        font: {
          size: 2em;
        }
        margin-bottom: 20px;
        color: #4d3917;
      }
      > .promos {
        > .promo {
          &:nth-child(1),&:nth-child(3),&:nth-child(5) {
            width: 100%;
          }
          &:nth-child(2),&:nth-child(4){
            display: none;
          }
          > img {
            max-width: 70%;
          }
        }
      }
    }
    > .zona-humeda {
      width: 90%;
      margin: 0px auto;
      > h2 {
        font: {
          size: 2em;
        }
        margin-bottom: 20px;
        color: #4d3917;
      }
      > ul {
        > li {
          width: 100%;
        }
      }
    }
    > .title {
      width: 90%;
      font: {
        size: 1.9em;
        weight: bold;
      }
    }
    > .description {
      > p {
        font: {
          size: 1em;
        }
      }
    }
    > .slider {
      width: 80%;
      ul {
        li {
          width: 265px;
          border-radius: 5px;
        }
      }
    }
    > .capacity {
      width: 90%;
    }
    > .rate {
      width: 100%;
    }
  }

  .slider-cabin {
    .slider-container {
      nav {
        ul {
          li {
            .cabin-detail {
              ul.cabin {
                width: 310px;
                height: 105px;
                .number {
                  line-height: 100px;
                }
                .imagen {
                  line-height: 100px;
                  > img {
                    width: 100px;
                  }
                }
                .name {
                  line-height: 100px;
                }
              }
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 320px) {
  .viejooeste-landing-cabin {
    margin: 85px auto 0px;
  }

  .viejooeste-container-slider {
    .viejooeste-baseline {
      .container-baseline {
        display: block;
      }
    }
  }

  .viejooeste-landing-cabin {
    > ul {
      > li {
        width: 100%;
        &:nth-child(1) {
          order: 2;
        }
        &:nth-child(2) {
          height: auto;
          order: 1;
          position: relative;
          .slider-container {
            width: 100%;
            overflow-x: scroll;
            nav {
              > ul {
                display: table;
                width: 100%;
                flex-direction: inherit;
                justify-content: inherit;
                flex-flow: inherit;
                > li {
                  width: 100%;
                  float: inherit;
                  flex: inherit;
                  display: table-cell;
                  vertical-align: middle;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }

  .cabin-detail {
    > .cabin-campaign {
      width: 70%;
      margin: 0px auto;
      > h2 {
        font: {
          size: 2em;
        }
        margin-bottom: 20px;
        color: #4d3917;
      }
      > .promos {
        > .promo {
          &:nth-child(1),&:nth-child(3),&:nth-child(5) {
            width: 100%;
          }
          &:nth-child(2),&:nth-child(4){
            display: none;
          }
          > img {
            max-width: 70%;
          }
        }
      }
    }
    > .zona-humeda {
      width: 90%;
      margin: 0px auto;
      > h2 {
        font: {
          size: 2em;
        }
        margin-bottom: 20px;
        color: #4d3917;
      }
      > ul {
        > li {
          width: 100%;
        }
      }
    }
    > .title {
      width: 90%;
      font: {
        size: 1.7em;
        weight: bold;
      }
    }
    > .description {
      > p {
        font: {
          size: 1em;
        }
      }
    }
    > .slider {
      width: 80%;
      ul {
        li {
          width: 265px;
          border-radius: 5px;
        }
      }
    }
    > .capacity {
      width: 90%;
    }
    > .rate {
      width: 90%;
    }
  }

  .slider-cabin {
    .slider-container {
      nav {
        ul {
          li {
            .cabin-detail {
              ul.cabin {
                width: 310px;
                height: 105px;
                .number {
                  line-height: 100px;
                }
                .imagen {
                  line-height: 100px;
                  > img {
                    width: 100px;
                  }
                }
                .name {
                  line-height: 100px;
                }
              }
            }
          }
        }
      }
    }
  }
}