@import ".core";
@import ".font";

.viejooeste-modal {
  z-index:999;
  display:block;
  width:900px;
  height:600px;
  position:fixed;
  background:rgba(255,255,255,0.9);
  border: 5px solid $viejooeste-color01;
  > .close {
    position:absolute;
    right:5px;
    top:-30px;
    width:24px;
    height:24px;
    background:transparent url('../img/close.png') repeat top left;
  }
}

.viejooeste-mask {
  position:absolute;
  z-index:998;
  background-color: rgba($viejooeste-color13,0.5);
  display:none;
}

@media screen and (max-width: 1000px) {
  .viejooeste-modal {
    width:700px;
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .viejooeste-modal {
    width:700px;
    height: 350px;
  }
}


@media screen and (max-width: 480px) {
  .viejooeste-modal {
    width:450px;
    height: 225px;
  }
}

@media screen and (max-width: 450px) {
  .viejooeste-modal {
    width:420px;
    height: 210px;
  }
}

@media screen and (max-width: 360px) {
  .viejooeste-modal {
    width:340px;
    height: 170px;
  }
}

@media screen and (max-width: 320px) {
  .viejooeste-modal {
    width:300px;
    height: 150px;
  }
}